.custom-calendar .ui-inputtext {
    height: 30px !important; /* Ajusta la altura según tus necesidades */
    padding: 5px !important; /* Ajusta el relleno según tus necesidades */
    font-size: 12px !important; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  
  
  
  
  